<%- include("header") -%>

<div class="box" id="heading">
    <h1><%= today %></h1>
</div>
<div class="box">
    <% tasks.forEach(task => { %>

    <form action='/delete/?list=<%= task.type %>' method='POST'>
        <div class="item">
            <input type="checkbox" onclick="this.form.submit()" name="checkbox" value="<%= task.id %>">
            <p><%= task.body %></p>
        </div>
    </form>

    <% }); %>

    <form class="item" id="add" action="<%= formAction %>" method="POST">
        <input type="text" name="newTask" placeholder="Add to list.." autocomplete="off"></input>
        <button type="submit" name="list">+</button>
    </form>
</div>

<%- include("footer") -%>