<%- include("header") -%>

<div class="box" id="heading">
    <h1><%= today %></h1>
</div>
<div class="box">
    <% for (task in tasks) { %>
    <div class="item">
        <input type="checkbox">
        <p><%= tasks[task] %></p>
    </div>
    <% }; %>

    <form class="item" action="/" method="POST">
        <input type="text" name="newTask" placeholder="Add to list.." autocomplete="off"></input>
        <button type="submit" name="button" value=<%= listTitle %>>+</button>
    </form>
</div>

<%- include("footer") -%>